{% extends "core/core.html" %}

{% block scripts_head %}
<style type="text/css">
    .container .panel-heading .btn-back {
        float: right;
        margin: -4px 0 0 0;
    }

    .panel .panel-footer .btn-delete {
        float: right;
    }
</style>
{% endblock scripts_head %}
    
{% block content %}
    <div class="container">
    
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Nova Categorias
                        <a class="btn btn-default btn-sm btn-back" href="{% url 'blog-category-list' %}">Voltar</a>
                    </div>

                    <div class="panel-body">
                         <form action="{{ form_url }}" method="POST" id="form-category">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <label for="input-name">Nome</label>
                                <input type="text" class="form-control" id="input-name" name="name" placeholder="Nome" value="{{ form.name.value }}">
                                <div class="text-danger">{{form.errors.name|striptags }}</div>
                            </div>
                            <div class="form-group">
                                <label for="text-description">Descrição</label>
                                <textarea id="text-description" class="form-control" rows="3" name="description">{{ form.description.value }}</textarea>
                                <div class="text-danger">{{form.errors.description|striptags }}</div>
                            </div>
                            
                            {% comment %}                             
                            <div class="form-group">
                                <label for="input-crated-at">Data cadastro</label>
                                <input type="text" class="form-control" id="input-created-at" name="created_at" placeholder="Data cadastro" value="{{ form.created_at.value }}" readonly>
                                <div class="text-danger">{{form.errors.name|striptags }}</div>
                            </div>
                             {% endcomment %}
                            
                            {% comment %} {{ form.as_p }} {% endcomment %}
                            {% comment %} {{form.as_table}} {% endcomment %}
                        </form>
                        {% comment %}
                        <form action="{% url 'blog-category-new' %}" method="POST" id="form-category">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="input-name">Nome</label>
                                <input type="text" class="form-control" id="input-name" name="name" placeholder="Nome">
                            </div>
                            <div class="form-group">
                                <label for="text-description">Descrição</label>
                                <textarea id="text-description" class="form-control" rows="3" name="description"></textarea>
                            </div>
                        </form>
                        {% endcomment %}
                        <form id="form-category-delete" action="{% url 'blog-category-delete' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ category.pk }}" />
                        </form>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" form="form-category" class="btn btn-success btn-save">Salvar</a>

                        {% if category.pk %}
                            <button type="submit" id="btn-category-delete" class="btn btn-danger btn-delete">Remover</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} 
    {# Para debugar #}
    <pre>
        {% filter force_escape %}
            {% debug form %}
        {% endfilter %}
    </pre>
     {% endcomment %}
{% endblock content %}


{% block scripts_end %}
<script type="text/javascript">


    $(document).ready(function() {
        
        var $btnDelete = $('#btn-category-delete');
        var $formDelete = $('#form-category-delete');

        $btnDelete.on('click', function() {
            
            swal({
                //title: 'Are you sure?',
                text: "Deseja remover o registro?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, deletar!',
                cancelButtonText: 'Cancelar'
            }).then(function(result) {
                if (result.value) {
                    $formDelete.submit();
                }
            });
        });

        
        
    });
</script>
{% endblock scripts_end %}