{% extends "core/core.html" %}

{% block scripts_head %}
<style type="text/css">
    .container .panel-heading .btn-new {
        float: right;
        margin: -4px 0 0 0;
    }
</style>
{% endblock scripts_head %}
    


{% block content %}


    <div class="container">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Categorias
                        <a class="btn btn-default btn-sm btn-new" href="{% url 'blog-category-new' %}">Novo</a>
                    </div>
                    <div class="panel-body">
                        <table id="table-category" class="table table-condensed table-striped">
                            <thead>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Data Cadastro</th>
                                <th>Opções</th>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ category.name }}</td>
                                        <td>{{ category.description }}</td>
                                        <td>{{ category.created_at|date:'d/m/Y' }}</td>
                                        <td>
                                            <a class="btn btn-default" href="{% url 'blog-category-edit' category.id %}">Editar</a>
                                            <button class="btn btn-danger btn-delete" data-pk="{{ category.pk }}">Deletar</button>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="form-category-delete" action="{% url 'blog-category-delete' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" class="delete-id" name="id" value="" />
    </form>

{% endblock content %}

{% block scripts_end %}
<script type="text/javascript">
	$(document).ready(function() {
        
        var $btnsDelete = $("#table-category .btn-delete");
        var $formDelete = $("#form-category-delete");

        $btnsDelete.on('click', function() {
            var $this = $(this);

            // Em jquery mais antigo, usar $this.attr('data-pk');
            // Em jquery mais novos (utilizado aqui) $this.data('pk');
            var pk = $this.data('pk')
            if (pk) {
                swal({
                    //title: 'Are you sure?',
                    text: "Deseja remover o registro?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, deletar!',
                    cancelButtonText: 'Cancelar'
                }).then(function(result) {
                    if (result.value) {

                        $formDelete.find(".delete-id").val(pk);
                        $formDelete.submit();
                    }
                });
            }
        });

	}); 
</script>
{% endblock scripts_end %}
