{% extends "core/core.html" %}

{% block scripts_head %}
<style type="text/css">
    .container .panel-heading .btn-back {
        float: right;
        margin: -4px 0 0 0;
    }
</style>
{% endblock scripts_head %}
    
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ title }}
                        <a class="btn btn-default btn-sm btn-back" href="{% url 'blog-category-list' %}">Voltar</a>
                    </div>

                    <div class="panel-body">
                        
                        <form action="{% url 'blog-category-new' %}" method="POST" id="form-category">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="input-name">Nome</label>
                                <input type="text" class="form-control" id="input-name" name="name" placeholder="Nome">
                            </div>
                            <div class="form-group">
                                <label for="text-description">Descrição</label>
                                <textarea id="text-description" class="form-control" rows="3" name="description"></textarea>
                            </div>
                        </form>
                    
                    </div>
                    <div class="panel-footer">
                        <button type="submit" form="form-category" class="btn btn-success btn-save">Salvar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
