{% extends 'core/core.html' %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-6">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
            </div>
            <button type="submit">Login</button>
        </form>
        <br>
        <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
    </div>
{% endblock content %}
